
      <div class="jumbotron">
        <h1>{ &raquo;Addicted To Music }</h1>
        <br>
        <p>サービス概要</p>
        <ul>
          <li>当サイトは、音に魅了された方々が利用することを想定していますが、多少偏った形で開発されております。</li>
          <li><u>我々が目指しているのは、音のシンクロ</u>にあります。周囲の方々と音を共有したいという願いは兼ねてからありましたが、中々そういったサービスがなかったと思っています。</li>
          <li>今回まさにそういったサービスを開発しました。β版での提供となりますが、<u>基本的に無料でのご利用</u>となります。</li>

          <li>今後のサービス部分の方針については別途お知らせいたします。<a href="#" class="btn btn-link" role="button"><s>&raquo;コチラ</s></a></li>
        </ul>
        <br>
        <p><%= link_to "Enter Site >>", '/top#index', :class => "btn btn-primary btn-lg" %></p>
        <!-- <p><a href="#" class="btn btn-primary btn-lg" role="button">Enter Site &raquo;</a></p> -->
      </div>
