
      <div class="jumbotron">
        <h1>{ &raquo;Syncronize }</h1>
        <br>
      </div>

      <h1>search</h1>
      <div>
        <%= form_tag('/favorite/youtube') do %>
          <%= text_field 'search_keys', 'name' %>
          <%= submit_tag "enter" %>
        <% end %>
      </div>

      <br><br>

      <div>
        <%= link_to "crawl! test >>", '/top/crawl', :class => "btn btn-success btn-lg" %>
      </div>
