
      <div class="jumbotron">
        <h1>{ &raquo;Syncronize }</h1>
        <br>
      </div>

      <h1>search</h1>
      <div>
        <%= form_tag('favorite') do %>
          <%= text_field 'search_keys', 'name' %>
          <%= submit_tag "enter" %>
        <% end %>
      </div>
