<h2>Youtube</h1>
  <% @youtube.each do |y| %>
    <% link_to y[:title], y[:url], { target: "_blank" } %>
    <br>
  <% end %>
  <br>
  <%= link_to "search add", "http://www.youtube.com/result?search_query=#{key}", { target: "_blank" }
